<div class="card">
  <div class="card-header">
    <h6 class="mb-0 theme-text-primary">Theme Assets Demo</h6>
  </div>
  <div class="card-body theme-card-content">
    <div class="row">
      <div class="col-md-6">
        <h6 class="theme-text-primary">Icons</h6>
        <div class="d-flex gap-3 mb-3">
          <%= theme_icon_tag('music-note.svg', class: 'theme-icon') %>
          <%= theme_icon_tag('play.svg', class: 'theme-icon') %>
          <%= theme_icon_tag('pause.svg', class: 'theme-icon') %>
          <%= theme_icon_tag('volume.svg', class: 'theme-icon') %>
        </div>
        
        <h6 class="theme-text-primary">Images</h6>
        <div class="mb-3">
          <%= theme_image_tag('background-pattern.svg', class: 'img-fluid', style: 'max-width: 200px;') %>
        </div>
      </div>
      
      <div class="col-md-6">
        <h6 class="theme-text-primary">Usage Examples</h6>
        <pre class="bg-light p-3 rounded"><code>
# In your views:
&lt;%= theme_icon_tag('play.svg') %&gt;
&lt;%= theme_image_tag('background.svg') %&gt;
&lt;%= theme_logo_path %&gt;

# Helper methods:
theme_icon_path('play.svg')
theme_image_path('background.svg')
theme_logo_path
        </code></pre>
      </div>
    </div>
  </div>
</div> 