<tr data-album-id="<%= album.id %>">
  <td>
    <%= link_to album.title, album_path(album), class: "album-title text-decoration-none" %>
  </td>
  <td>
    <% unique_artists = album.artists.uniq %>
    <% unique_artists.first(3).each do |artist| %>
      <span class="badge bg-info album-artist"><%= artist.name %></span>
    <% end %>
    <% if unique_artists.count > 3 %>
      <span class="album-artist-more">+<%= unique_artists.count - 3 %> more</span>
    <% end %>
  </td>
  <td>
    <span class="album-song-count badge bg-secondary"><%= album.songs.count %></span>
  </td>
  <td>
    <% if album.release_date.present? %>
      <span class="album-release-date"><%= album.release_date.strftime("%Y-%m-%d") %></span>
    <% else %>
      <span class="album-release-date">-</span>
    <% end %>
  </td>
</tr> 