<tr data-artist-id="<%= artist.id %>">
  <td>
    <%= link_to artist.name, artist_path(artist), class: "artist-name text-decoration-none" %>
  </td>
  <td>
    <% if artist.country.present? %>
      <span class="artist-country" style="color: #1f2937;"><%= artist.country %></span>
    <% else %>
      <span class="artist-country" style="color: #1f2937;">-</span>
    <% end %>
  </td>
  <td>
    <span class="artist-song-count badge bg-secondary"><%= artist.songs.count %></span>
  </td>
  <td>
    <% artist.genres.limit(3).each do |genre| %>
      <span class="badge bg-info artist-genre"><%= genre.name %></span>
    <% end %>
    <% if artist.genres.count > 3 %>
      <span class="artist-genre-more" style="color: #1f2937;">+<%= artist.genres.count - 3 %> more</span>
    <% end %>
  </td>
</tr> 